body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/*HEAD WITH LOGO AND MENU------------------------*/
.head {
	margin: 0;
	min-width: 1024px;
	background-color: #f5f5f5;
}

/* clearfix */
.head::after {
	content: "";
	display: table;
	clear: both;
}

.head_content-vertical-center {
	padding: 25px 0px;
}

/* clearfix */
.head__content::after {
	content: "";
	display: table;
	clear: both;
}

.head__logo-image_left {
	float: left;
	height: 40px;
	margin: 0;
}


/*MENU*/
.menu-box {
	float: right;
	padding: 0.6px 0;
}

.menu-box::after {
	content: "";
	display: table;
	clear: both;
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}


.menu_horizontal {
	vertical-align: middle;
}

.menu_position-right {
	float: right;
}

.menu__item:not(.menu__item_active):hover {
	text-decoration: underline;
}

.menu__item_horizontal {
	display: inline-block;
	color: #0f0f0f;
	font-size: 14px;
	padding: 5px 20px 13px; 
	border-top: 5px solid #f5f5f5;
}

.menu__item_dropdown {
	padding-right: 10px;
}

.menu__item_active {
	position: relative;
	text-decoration: none;
	color: #49C6DB;
	background-color: #fff;
	border-top: 5px solid #49C6DB;
}

.menu__link {
	text-decoration: none;
	color: inherit; /*for links with href="" it is not inherited by deafult*/
}

.menu__icon-dropdown {
	display: inline;
	height: 10px;
	width: 15px; 
	fill: #0f0f0f;
}

/*SUBMENU*/
.submenu {
	position: absolute;
	left: 0;
	top: 34px;
	padding: 0px 5px 15px 5px;
	border-bottom: 5px solid #49C6DB;
	width: 185px;
	background-color: #fff;
}

.submenu__item {
	/*display: block;*/
	padding: 15px 0px 5px 10px;
	color: #0f0f0f;
	border-bottom: 1px solid #eee;
}

.submenu__item_last {
	border-bottom: none;
}

.submenu__link:hover {
	color: #49C6DB;
}


/*SLIDESHOW----------------------------------------------------------------------*/
.slideshow-section {
	min-width: 1024px;
	background-color: #49C6DB;
}

.slideshow__display-container {
	/*width: 700px;*/
	/*margin: 0 auto;*/
	padding: 0 162px; /*width(slideshow-section - image) // 2 = (1024 - 700)px // 2 = 164px*/
}

.slideshow_display-image {
	display: none;
}

.slideshow__nav-icons-container {
	width: 100px;
	margin: 0 auto;
}

.slideshow__nav-circle {
	height: 10px;
	width: 10px;
	padding: 0 5px;
}

.slideshow__nav-circle {
	fill: black;
	opacity: 0.25;
}

.slideshow__nav-circle_white {
	fill: #fff;
	opacity: 1;
}
.slideshow__nav-circle:hover {
	fill: #fff;
	opacity: 1;
	/*background-color: black;*/
}


/*GLOBAL-------------------------------------------------------------------------*/
.content-horizontal-center {
	/*text-align: center;*/
	width: 1024px;
	margin: 0 auto;
}
